* {
  font-family: "Fira Sans", sans-serif;
  /* Smoothly transition when color scheme changes */
  transition: ease-in-out 250ms !important;
}

:root {
  --background-primary: #f2f3f5;

  --logo-shadow: #0005;

  --text-normal: #2e3338;
  --text-muted: #5e6772;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-primary: #111416;

  --logo-shadow: #fff3;

  --text-normal: #dcddde;
  --text-muted: #a3a6aa;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  background-color: var(--background-primary);
  text-align: center;
  margin: 10px;
}

span {
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 10px;
}

h1 {
  font-family: "Fira Code", monospace;
  font-size: 9em;
  color: var(--background-primary);
  line-height: 1.6;
  text-shadow: 0px 9px 30px var(--logo-shadow);
  margin: 0;
}

h4 {
  color: var(--text-muted);
  opacity: 0.5;
}

p {
  color: var(--text-normal);
  max-width: 800px;
  font-size: 1.5em;
}

a {
  color: var(--text-muted);
  transition: ease-in-out 150ms;
  margin: 15px 10px;
}
a:hover {
  color: var(--text-normal);
}

i {
  font-size: 2em;
}
